.profile {
  width: 360px;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.image {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #7b4646;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.text {
  font-size: 20px;
  font-weight: 500;
  color: cadetblue;
}

.list {
  display: flex;
  flex-direction: row;
  background-color: darkgrey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.link {
  width: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid cadetblue;
  border-top: 2px solid cadetblue;
}

.link:last-child {
  border-right: none;
}

.item {
  font-size: 20px;
  font-weight: 400;
}
