.profile {
  border: 6px solid rgb(20, 16, 10);
  border-radius: 12px;
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.avatar {
  text-align: center;
}

.avatar img {
  background-color: rgb(63, 22, 22);
  border-radius: 50%;
  margin-bottom: 40px;
  width: 300px;
}

.title {
  font-weight: bold;
  font-size: 52px;
  margin-bottom: 20px;
}

.subtitle {
  color: rgb(86, 63, 63);
  font-size: 40px;
  margin-bottom: 18px;
}

.followers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 6px solid rgb(20, 16, 10);
  margin-bottom: 0;
}

.followers li {
  padding: 20px;
  text-align: center;
  background-color: hwb(260 71% 27%);
}

.followers li:first-child {
  border-bottom-left-radius: 12px;
  border-right: 6px solid black;
}

.followers li:last-child {
  border-bottom-right-radius: 12px;
  border-left: 6px solid black;
}

.followers span {
  display: block;
  font-size: 32px;
}

.followers span:last-child {
  font-weight: bold;
}
